@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0; padding: 0; 
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
li{list-style: none;}
a{text-decoration: none; display: block; color: inherit;}
img{display: block; border: 0;}

#wrap>section{
    height: 100vh;
    position: relative;
}

#wrap>section:nth-child(3){background: linear-gradient(#eeb1bd, #f7c9d2);}
#wrap>section:nth-child(4){background: linear-gradient(#f7c9d2, #9ac2e6); position: relative;}
#wrap>section:nth-child(5){background: linear-gradient(#9ac2e6, #9ba5d4);}
#wrap>section:nth-child(6){background: linear-gradient(#9ba5d4, #867099);}

.inTitle{padding-top: 20px; text-align: center;}
.inTitle h2{
    font-size: 3em;
    padding: 20px 0;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}
.inTitle p{
    font-family: 'Pretendard-Regular';
    text-align: center;
    font-size: .9em;
    color: rgb(245, 245, 245);
}

.scroll{width: 100px; height: 100px; position: absolute; top: 49%; left: 45%;}
.scroll img{width: 100%;}
#line img{width: 80%;}
section .box{
    width: 300px; height: 300px;
    background: rgba(141, 141, 141, 0.507);
    position: absolute; top: 30%; left: -50%;
    opacity: 0; transition: .6s;
}
section .text, .chart{
    width: 300px; height: 300px;
    background: rgba(255, 255, 255, 0.507);
    position: absolute; top: -50%; left: 60%;
    opacity: 0; transition: .6s;
}

section.active .box{
    width: 300px; height: 300px;
    background: rgba(141, 141, 141, 0.507);
    position: absolute; top: 30%; left: 20%;
    opacity: 1;
}
section.active .text, .chart{
    width: 300px; height: 300px;
    background: rgba(255, 255, 255, 0.507);
    position: absolute; top: 30%; left: 60%;
    opacity: 1;
}
section .title{
    position: absolute;
    top: 40%; left: 0%;
}
.sTitle{
    position: absolute;
    top: 60%; left: 60%;
    font-size: 2rem;
}
.sTitle span{
    color: rgba(255, 255, 255, 0.719);
    display: inline-block;
    transition: .6s;
    transform: translate(50px,0);
    opacity: 0;
}
section.active .sTitle span{
    transform: translate(0,0);
    opacity: 1;
}
section .title span{
    display: inline-block;
    transition: .6s;
    transform: translate(50px,0);
    opacity: 0;
}
section.active .title span{
    transform: translate(0,0);
    opacity: 1;
}
section .title span:nth-child(1){transition-delay: .1s;}
section .title span:nth-child(2){transition-delay: .2s;}
section .title span:nth-child(3){transition-delay: .3s;}
section .title span:nth-child(4){transition-delay: .4s;}
section .title span:nth-child(5){transition-delay: .5s;}

section .sTitle span:nth-child(1){transition-delay: .1s;}
section .sTitle span:nth-child(2){transition-delay: .2s;}
section .sTitle span:nth-child(3){transition-delay: .3s;}
section .sTitle span:nth-child(4){transition-delay: .4s;}
section .sTitle span:nth-child(5){transition-delay: .5s;}

/* section 2 */
.bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
}
.chart{
    width:400px;
    height:300px;
    position: absolute;
    top: 35%;
    left: 53%;
    background: rgba(248, 248, 255, 0.801);
    text-align: center;
}
.chart .graph ul{display: flex;}
.chart .graph li{
    width: 300px;
    border:1px lightblue solid;
    height: 40px;
    margin: 0 auto;
}
.chart .cTitle{
    border: none !important;
    height: 20px !important;
    padding: 10px 0;
}
.chart .graph li div{
    height: 40px;
    background:lightblue;
    transform-origin: left top;
    transition:.6s;
}

section .chart .graph li:nth-child(2) div{
    transform:scaleX(0);
}
section .chart .graph li:nth-child(4) div{
    transform:scaleX(0);
}
section .chart .graph li:nth-child(6) div{
    transform:scaleX(0);
}

section.active .chart .graph li:nth-child(2) div{
    transform:scaleX(.85);
    transition-delay: .6s;
}
section.active .chart .graph li:nth-child(4) div{
    transform:scaleX(.9);
    transition-delay: 1.2s;
}
section.active .chart .graph li:nth-child(6) div{
    transform:scaleX(.77);
    transition-delay: 1.8s;
}
.cBox{
    padding: 20px; box-sizing: border-box;
    width: 700px; height: 400px;
    background: rgb(136, 165, 190)!important;
    position: absolute; top: 35% !important; left: 29.5%!important;
    opacity: 0; transition: .6s;
}

.cBox li:nth-child(1){padding-bottom: 20px;}
.cBox h4{padding-bottom: 3px; color: #444; font-size: 1.2rem;}
.cBox p{padding: 2px; color: #fff; font-size: .95rem;}

.targetMenu{width:50px; height:300px; position:fixed; top:calc(50% - 150px); left:calc(100% - 100px); z-index: 9999999;}
.targetMenu a{display:block; width:20px; height: 20px; line-height: 30px; text-align: center; background:rgba(255, 255, 255, 0.5); font-size: 1.2rem; border-radius: 50%;
    cursor: pointer; transition:all .6s;
}
.targetMenu li{width:50px; height: 50px; line-height: 70px;}
.targetMenu a.on{width:20px; height:20px; background: #8eb4f3; color:rgba(255, 255, 255, 0.5); font-size: 1.5rem;}

.boxP1, .dP1{
    padding: 10px 0 0 0;
    font-size: 1rem; font-family: 'Roboto', sans-serif; font-weight: bolder;
}
.boxP2, .dP2{
    padding: 10px 0;
    font-size: .8rem;
    font-family: 'Pretendard-Regular';
}
.boxP3{
    padding: 0;
    font-size: .8rem;
    font-family: 'Pretendard-Regular';
}
.propic{
    position: absolute; top: -40%; left: -85%;
    animation: up-down 1.4s infinite ease-in-out alternate;
}
@keyframes up-down{
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-20px);
  }
}
/* section 3 */
.img1{width: 300px; height: 300px; overflow: hidden;}
.img1 img{width: 100%; opacity: .5; transition: .3s;}

.img1 img:hover{
    opacity: 1; transition: .3s;
}

/* section 4 */
.deBox{width: 100%; padding: 40px 40px 20px 80px; box-sizing: border-box; display: flex;}
.deBox li{width: 300px; height: 400px; display: block; padding-right: 30px;}
.deBox li a{width: 300px; height: 300px; background: #fff; flex-wrap: wrap;}
.deBox li a img{width: 100%; opacity: .7; transition: .3s;}

.dTxt{width: 300px; height: 100px; padding: 10px 0;}
.dP1{padding: 0px;}
.deBox li a img:hover{opacity: 1; transition: .3s;}




.modal_wrap{
    display: none;
    width: 800px;
    height:550px;
    position: absolute;
    top:45%;
    left: 40%;
    margin: -250px 0 0 -250px;
    background:#eee;
    z-index: 2;
    transition: .4s;
}
.black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100vh;
    background-color:rgba(24, 24, 24, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}
.modal_close{
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 101%;
}
.modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url(../img/close.png);
    text-indent: -9999px;
}
.mImg{width:91%; margin: 0 auto; box-sizing: border-box;}
.mImg img{width: 100%;}


@media all and (max-width: 1024px){
}
@media all and (max-width: 768px){

}
@media all and (max-width: 640px){
}